{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url({{ member.avatar_url }}) no-repeat top center / cover"></section>

        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div class="">Membro</div>
                <div class="">{{ member.name }}</div>
            </div>

            <div class="item">
                <div class="">Aniversário</div>
                <div class="">{{ member.birth }}</div>
            </div>

            <div class="item">
                <div class="">Email</div>
                <div class="">{{ member.email }}</div>
            </div>

            <div class="item">
                <div class="">Sexo</div>
                <div class="">{{ "Masculino" if member.gender == "M" else "Feminino" }}</div>
            </div>

            <div class="item">
                <div class="">Tipo sanguíneo</div>
                <div class="">{{ member.blood }}</div>
            </div>

            <div class="item">
                <div class="">Peso (Kg) </div>
                <div class="">{{ member.weight }}</div>
            </div>

            <div class="item">
                <div class="">Altura (cm) </div>
                <div class="">{{ member.height }}</div>
            </div>

            <a href="/members/{{ member.id }}/edit" class="button">Editar</a>

        </section>
    </div>

{% endblock content %}