{% extends "layout.njk" %}

{% block content %}

    {# <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/8353395/500x800) no-repeat top center / cover"></section>

        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div class="">Instructor</div>
                <div class="">Leonardo Freitas</div>
            </div>

            <div class="item">
                <div class="">Idade</div>
                <div class="">22</div>
            </div>

            <div class="item">
                <div class="">Sexo</div>
                <div class="">Masculino</div>
            </div>

            <div class="item">
                <div class="">Companhamento</div>
                <div class="">
                    <span>Musculação</span>
                    <span>Crosfit</span>
                    <span>Natação</span>
                </div>
            </div>

            <div class="item">
                <div class="">Desde</div>
                <div class="">01/01/2019</div>
            </div>

        </section>
    </div> #}

    <div class="card table-container">
        <a href="/instructors/create">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Instructor</th>
                    <th>Atendimento</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ instructor.avatar_url}})"></span>
                            {{ instructor.name }}</td>
                        <td>{{instructor.services }}</td>
                        <td>
                            <a href="/instructors/{{ instructor.id }}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock content %}