<div class="item">
    <div class="">Avatar URL</div>
    <div class="">
        <input type="url" name="avatar_url" placeholder="http://" value="{{member.avatar_url}}">
    </div>
</div>

<div class="item">
    <div class="">Nome</div>
    <div class="">
        <input type="text" name="name" placeholder="" value="{{member.name}}">
    </div>
</div>

<div class="item">
    <div class="">E-mail</div>
    <div class="">
        <input type="email" name="email" placeholder="" value="{{member.email}}">
    </div>
</div>

<div class="item">
    <div class="">Data de Nascimento</div>
    <div class="">
        <input type="date" name="birth" value="{{member.birth}}">
    </div>
</div>

<div class="item">
    <div class="">Sexo</div>
    <div class="">
        <span><input type="radio" name="gender" value="M" {% if member.gender =='M' %} checked="checked" {% endif %}>Masculino</span>
        <span><input type="radio" name="gender" value="F" {% if member.gender =='F' %} checked="checked" {% endif %}>Feminino</span>
    </div>
</div>

<div class="item">
    <div class="">Tipo sainguíneo</div>
    <div class="">
        <select name="blood">
            <option value="A+" {% if member.blod == "A+" %} selected="selected" {% endif %}>A+</option>
            <option value="A-" {% if member.blod == "A-" %} selected="selected" {% endif %}>A-</option>
            <option value="B+" {% if member.blod == "B+" %} selected="selected" {% endif %}>B+</option>
            <option value="B-" {% if member.blod == "B-" %} selected="selected" {% endif %}>B-</option>
            <option value="AB+" {% if member.blod == "AB+" %} selected="selected" {% endif %}>AB+</option>
            <option value="AB-" {% if member.blod == "AB-" %} selected="selected" {% endif %}>AB-</option>
            <option value="O+" {% if member.blod == "O+" %} selected="selected" {% endif %}>O+</option>
            <option value="O-" {% if member.blod == "O-" %} selected="selected" {% endif %}>O+</option>
        </select>
    </div>
</div>

<div class="item">
    <div class="">Peso (Kg)</div>
    <div class="">
        <input type="number" name="weight" value="{{member.weight}}">
    </div>
</div>

<div class="item">
    <div class="">Altura (cm)</div>
    <div class="">
        <input type="number" name="height" value="{{member.height}}">
    </div>
</div>

<div class="item">
    <div class="">Instrutor</div>
    <div class="">
        <select name="instructor">
            {% for instructor in instructorOptions %}
                <option value="{{ instructor.id }}" {% if member.instructor_id == instructor.id %} selected
                {% endif %}>{{instructor.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<button type="submit">Salvar</button>